.form-container {
  margin: 50px 100px ;
  display: block;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(223, 223, 223);
  background-color: rgb(223, 223, 223);
  padding: 20px 0px;
  padding-left: 50px;
  border-radius: 8px;
}
.form {
  display: block;
  justify-content: center;
  overflow: hidden;
}
.form-group {
  padding: 10px 0px;
  width: 100%;
  margin: 8px 0px ;
}
input {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 8px;
  outline: none;
}
button {
  width: 100px;
  margin-top: 10px;
  margin-left: 100px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: blue;
  cursor: pointer;
}
button:hover{
  background-color: orangered;
}